* {box-sizing: border-box;}

body {
    background-color: gray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://wallpapercave.com/wp/T9DedLv.jpg);
}

/* Mobile-First */
h1 {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 10%;
}

div {
    background-color: rgb(27, 0, 48);
    border: 10px solid black;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 25%;
    position: relative;
    width: 50%;
    height: 50%;
}

div img {
    height: 45%;
    width: 45%;
    margin-left: 25%;
}

p{align-items: flex-start;}

/* Computer  */
@media (min-width: 1000px) {
    section {
        display: flex ;
    }
    h1 {       
        margin-top: 5%;
        margin-bottom:0;
    }
    p{
        padding-bottom: 15px;
    } 
    div{
        margin:5%;
    }
}


